<div class="container-fluid">
    <div class="row">
        <form (ngSubmit)='submitQuotes()' #quoteForm='ngForm'>
            <div class="form-group">

                <label for="Author">Author</label>
                <input type="text" class="form-control" id="Author" [(ngModel)]="newQuotes.author" name="Author" placeholder="Author" #Author="ngModel" required >
                <div [hidden]="Author.valid || Author.pristine" class="alert alert-danger">
                    <p> Author is Required</p>

                </div>
            </div>
            <div class="form-group">

                <label for="Quote">Quote</label>
                <textarea class="form-control" id="Quote" rows="4" [(ngModel)]="newQuotes.name" name="Quote" placeholder="Quote" #Quote="ngModel" required></textarea>
                <div [hidden]="Quote.valid || Quote.pristine" class="alert alert-danger">
                    <p> A quote is Required</p>

                </div>
            </div>
            <div class="form-group">
                <label for="Date">Date</label>
                <input type='date' id="Date" [(ngModel)]="newQuotes.date" name="Date" #Date="ngModel" placeholder="mm/dd/yy" required>
                <div [hidden]="Date.valid || Date.pristine" class="alert alert-danger">
                    <p>Date is Required</p>

                </div>

            </div>
            <button type="Submit" class="btn btn-success btn-lg">New Quote</button>
        </form>
    </div>
</div>
