<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <label for="Author">Author</label>
                <input type="text" class="form-control" id="Author" placeholder="Author" equired >

            </div>
            <div class="form-group">

                <label for="Quote">Quote</label>
                <textarea class="form-control" id="Quote" rows="4" placeholder="Quote" required></textarea>

            </div>
            <div class="form-group">
                <label for="Date">Date</label>
                <input type='date' id="Date" placeholder="mm/dd/yy" required>

            </div>
        </form>
    </div>
</div>
